<a href="https://colab.research.google.com/github/samyumobi/30DaysofPython/blob/main/Copy_of_Python_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Data type 1 - List

In [1]:
l = ['1','2',1,2,0]
l += '3'
print(l)

['1', '2', 1, 2, 0, '3']

In [2]:
l.insert(2,'abc')
print(l)

['1', '2', 'abc', 1, 2, 0, '3']

In [3]:
l.extend([4,8,'d','g'])
print(l)

['1', '2', 'abc', 1, 2, 0, '3', 4, 8, 'd', 'g']

##Task

**Perform list operations using [GFG](https://geeksforgeeks.org/list-methods-python/)**




   1. Write program to perform list operations without using list methods - Most frequently asked question - [ Try with append/ slicing/ insert/ delete/ remove/ reverse]

   2. Apply lambda, map, enumerate function on list
   Ref: https://www.geeksforgeeks.org/python-lambda-anonymous-functions-filter-map-reduce/

   --> Learn about lambda here - https://www.dataquest.io/blog/tutorial-lambda-functions-in-python/

   It is a pythonic way to avoid if else using simple list and lambda for statistical outputs

--> Read about mapper() here : https://realpython.com/python-map-function/

You can use filter/ reduce for strings. Write code in above page below.

In [4]:
l2 = ['s','a',3,4,5,'m']
l2.append(32)
print(l2)
print(sum(l2[2:5]))
print(l2.count(3))

['s', 'a', 3, 4, 5, 'm', 32]
12
1

In [5]:
print(l2.index('s'))

0

In [6]:
print(len(l2))

7

In [7]:
print(min(l),max(l2))

TypeError: '<' not supported between instances of 'int' and 'str'

In [31]:
l3 = [6,6,6,7,888, 999, 0]

print(min(l3),max(l3))

0 999

In [32]:
print(l3.sort())

l3.sort()

print(l3)

None
[0, 6, 6, 6, 7, 888, 999]

In [33]:
l3.sort(reverse=True)

print(l3)

[999, 888, 7, 6, 6, 6, 0]

In [34]:
l2.reverse()
print(l2)

[32, 'm', 5, 4, 3, 'a', 's']

#### Removing elements from list

In [35]:
# Temp pop 6 from list 3


# print(l3.pop(6))

print(l3.count(6))

print(l3)

3
[999, 888, 7, 6, 6, 6, 0]

In [36]:
del l3.remove(6)
print(l3)

SyntaxError: cannot delete function call (<ipython-input-36-42673219e762>, line 1)

In [66]:
del l3[0]

In [67]:
print(l3)
l3.remove(6)
l3

[7, 6, 6, 0]

[7, 6, 0]

In [68]:
l4 = l3

print(l4)

l5 = l3.copy()
print(l5)

[7, 6, 0]
[7, 6, 0]

### Implementing list functions without the function

### sorting

In [69]:
sorted([789823, 9, 333, 56])

[9, 56, 333, 789823]

In [70]:
a = [5, 9, 34, 5, 68]
for i in range(len(a)):
  for j in range(len(a)-1):
    if a[j] > a[j+1]:
      a[j], a[j+1] = a[j+1], a[j]
print(a)

[5, 5, 9, 34, 68]

In [71]:
b = ['l','a','g','t']
for i in range(len(b)):
  for j in range(len(b)-1):
    if b[i] > b[j]:
      temp = b[i]
      b[i] = b[j]
      b[j] = temp


print(b)

['t', 'l', 'g', 'a']

### Filter() a list

In [72]:
d = ['a','b','a','a','a','f']
print(list(filter(lambda x:x != 'a',d)))

['b', 'f']

In [73]:
s = []
for i in d:
  if i != 'a':
    s += i
print(s)

['b', 'f']

In [74]:
print([i for i in d if i!= 'a'])

['b', 'f']

In [75]:
import re

pattern = "a"
print([i for i in d if not re.match(pattern,i)])

['b', 'f']

### Reverse a list

In [76]:
a = ['g','p','o']
print(a[::-1])

['o', 'p', 'g']

In [77]:
r = []
for j in a:
  r = [j] + r
print(r)

['o', 'p', 'g']

In [78]:
r = []
for i in range(len(a)-1,-1,-1):
  r += a[i]
print(r)

['o', 'p', 'g']

In [79]:
r = []
for i in a:
  r.insert(0,i)
print(r)

['o', 'p', 'g']

### Range

In [80]:
print(chr(110))

n

In [81]:
print(list(range(ord("a"),ord("z"))))

[97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121]

In [82]:
print(list(chr(i) for i in (range(ord("a"),ord("z")+1))))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [83]:
import string
print('a to z without range\n')
for i in string.ascii_lowercase:
  print(i,end=' ')

a to z without range

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [84]:
print(list(map(chr,range(ord("a"),ord("z")+1))))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [85]:
print(list(map(lambda x:chr(x),range(ord("a"),ord("z")+1))))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

### Count occurences

In [86]:
from collections import Counter
print(d)
print(Counter(d))

['a', 'b', 'a', 'a', 'a', 'f']
Counter({'a': 4, 'b': 1, 'f': 1})

In [87]:
c = {}
for i in d:
  if i in c:
    c[i] += 1
  else:
    c[i] = 1

print(c)

{'a': 4, 'b': 1, 'f': 1}

In [88]:
def co_unt(l, o):
  c = 0
  for i in l:
    if i == o:
      c += 1

  return c

print(co_unt(d,'a'))

4

### index()

In [89]:
s = [1,5,3,4,9,4,2,1,5,6]

res = []
for i in range(len(s)):
  if s[i] == 5:
    res.append(i)
print(res)

[1, 8]

In [90]:
# Find index of 2

print([i for i,j in enumerate(s) if j == 2])

[6]

In [91]:
# Find index of 2

print([i for i in range(len(s)) if s[i] == 2])

[6]

In [92]:
print(list(filter(lambda x:s[x] == 2,s)))

[6]

In [93]:
import numpy as np

print(list( (np.where(s == 2))[0]))

[]

<ipython-input-93-56133dba8292>:3: DeprecationWarning: Calling nonzero on 0d arrays is deprecated, as it behaves surprisingly. Use `atleast_1d(cond).nonzero()` if the old behavior was intended. If the context of this warning is of the form `arr[nonzero(cond)]`, just use `arr[cond]`.
  print(list( (np.where(s == 2))[0]))

In [94]:
print(list( (np.where(np.array(s) == 2))[0]))

[6]

# 2. Data type 2 - Date time

First learn how to extract year, date, day from dates - " As numbers/ Serial data format/ Strings"

Refer - https://www.programiz.com/python-programming/datetime
https://towardsdatascience.com/basic-datetime-operations-in-python-2d706be82c63


**Write code in that page below with your hands. Do not copy paste. Mainly focus on strp, strf, date time , delta - They are imp while exporting data as RDF and DF in EDA**

Refer any other sites as per your interest.

## Task

1. Use pandas and date time for exploring data in Kaggle. Use columns having date in a live Kaggle competition. Use below url as reference

Ref: https://www.dataquest.io/blog/datetime-in-pandas/
https://www.influxdata.com/blog/pandas-datetime-tutorial/

In [96]:
import datetime as dt

#numeric dates
n = dt.date(2020,1,1)
print(n)
print(n.year,n.month,n.day)

2020-01-01
2020 1 1

**Note**

The errors have been left intentionally to type with hands and realise syntax importance while working with date time objects.

"**Do not stare at errors and ignore the errored cells. Please type data in errored cells. If you type wrong syntax in front of interviewer twice or thrice, you will be out of the tech round.**"

In [98]:
#string dates
j = '3-3-2024 11:33:80'
print(j.year)

AttributeError: 'str' object has no attribute 'year'

In [99]:
print(dt.j.year)

AttributeError: module 'datetime' has no attribute 'j'

In [108]:
j = dt.strptime(j,"%Y")
print('year',j.year)

AttributeError: module 'datetime' has no attribute 'strptime'

In [109]:
from datetime import datetime
j = '3-3-2024 11:33:50'
p = datetime.strptime(j,'%d-%m-%Y %H:%M:%S')

In [112]:
#converting numeric into string datetime using strf

ts = 1234563345
new_date = datetime.fromtimestamp(ts)
print('Date Time object',new_date)

# Retrieve the year / day/ month from time stamp
d = new_date.strftime('%d-%m-%Y %H:%M:%S')
print('Date',d)

Date Time object 2009-02-13 22:15:45
Date 13-02-2009 22:15:45

In [113]:
print(new_date.strftime("%d %b,%Y"))

13 Feb,2009

In [114]:
print(new_date.strftime("%d %B,%Y"))

13 February,2009

In [116]:
print(new_date.strftime("%I %p"))

10 PM

In [118]:
# Convert the numeric into string and format the date

import time
print(time.strptime("01 June 2024","%d %b %Y"))

ValueError: time data '01 June 2024' does not match format '%d %b %Y'

In [137]:
import time
d = time.strptime(" 01 Jan 2024","%A %B %y")
#d = time.strptime(" 02 Dec 1996", " %d %b %Y")
print(d)

ValueError: time data ' 01 Jan 2024' does not match format '%A %B %y'

In [138]:
print(time.strptime("14/2/1992 3:34","%d/%m/%Y %H:%M"))

time.struct_time(tm_year=1992, tm_mon=2, tm_mday=14, tm_hour=3, tm_min=34, tm_sec=0, tm_wday=4, tm_yday=45, tm_isdst=-1)

In [139]:
print(datetime.strptime('3/3/1990', '%d/%m/%Y'))

1990-03-03 00:00:00

### Pandas and date time data

In [140]:
# Change datetime format in dataframe

import pandas as pd

df = pd.DataFrame({'Date':{0:'13-8-1990',1:'24-5-2000'}})
print(df)

        Date
0  13-8-1990
1  24-5-2000

In [144]:
df.Date

0    13-8-1990
1    24-5-2000
Name: Date, dtype: object

In [145]:
df.Date.year

AttributeError: 'Series' object has no attribute 'year'

In [146]:
df.Date.strptime('%Y')

AttributeError: 'Series' object has no attribute 'strptime'

In [152]:
df['d'] = pd.to_datetime(df.Date)
print(df.d)

0   1990-08-13
1   2000-05-24
Name: d, dtype: datetime64[ns]

<ipython-input-152-477cded005f2>:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['d'] = pd.to_datetime(df.Date)

In [153]:
print(df.d.dt.year)

0    1990
1    2000
Name: d, dtype: int32

In [157]:
# Display dates as string
print(df.d.dt.strptime("%m-%d-%Y"))

AttributeError: 'DatetimeProperties' object has no attribute 'strptime'

In [159]:
# Display dates as string

print(df.dtypes)

Date            object
d       datetime64[ns]
dtype: object

In [160]:
df.head()

        Date          d
0  13-8-1990 1990-08-13
1  24-5-2000 2000-05-24

In [165]:
# Display numeric dates as string dates
df['ds'] = pd.to_datetime(df.Date.astype(str),dayfirst=True)
print(df['ds'])

0   1990-08-13
1   2000-05-24
Name: ds, dtype: datetime64[ns]
datetime64[ns]

In [177]:
# Convert numeric dates to string dates
df['dss'] = pd.to_datetime(df['d'].dt.strftime('%Y-%m-%d'))
print(df['dss'])

0   1990-08-13
1   2000-05-24
Name: dss, dtype: datetime64[ns]

In [183]:
# Convert string dates in dataframe to numeric dates
df = pd.DataFrame({'Date':['22-3-1980','11-4-2001','19-2-1901'],
                   'Gender':['F','M','m'],
                   'Salary':[1,4,2]})
print(df,'\n\n\n',df.dtypes)

#Convert date to datetime
df.Date = pd.to_datetime(df.Date)
print(df,'\n\n\n',df.dtypes)

#Display Salary as string data
df['Salary'] = df['Salary'].astype(str)
print(df,'\n\n\n',df.dtypes)

        Date Gender  Salary
0  22-3-1980      F       1
1  11-4-2001      M       4
2  19-2-1901      m       2


 Date      object
Gender    object
Salary     int64
dtype: object
        Date Gender  Salary
0 1980-03-22      F       1
1 2001-04-11      M       4
2 1901-02-19      m       2


 Date      datetime64[ns]
Gender            object
Salary             int64
dtype: object
        Date Gender Salary
0 1980-03-22      F      1
1 2001-04-11      M      4
2 1901-02-19      m      2


 Date      datetime64[ns]
Gender            object
Salary            object
dtype: object

<ipython-input-183-3d3893b4dce3>:8: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df.Date = pd.to_datetime(df.Date)

# Data type 3- Dict , Set, tuple

I will discuss it soon